* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  background-color: hsl(204, 43%, 93%);
}

/*CONTAINER PRINCIPAL*/
.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

/*CARD*/
.card {
  max-width: 500px;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

/*CONTENT*/
.content {
  background-color: #fff;
  justify-content: center;
  align-content: center;
  padding: 20px;
}
.content h3 {
  color: hsl(179, 62%, 43%);
  margin-bottom: 13px;
}
.content h5 {
  color: hsl(71, 73%, 54%);
  margin-bottom: 13px;
}
.content p {
  color: hsl(218, 22%, 67%);
  line-height: 27px;
  font-size: 15px;
}

/*CONTENT DOWN 1*/
.content__down1 {
  background-color: hsl(179, 62%, 43%);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.content__down1 h3 {
  color: hsl(210, 14%, 95%);
  font-size: 15px;
  margin-bottom: 13px;
  letter-spacing: 1px;
}
.content__down1 h1 {
  color: #fff;
}
.content__down1 > p {
  color: #fff;
  margin-bottom: 25px;
  opacity: 0.8;
  font-weight: 400;
}

.content__down__special {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.content__down__special p {
  color: hsl(204, 43%, 93%);
  transform: translateX(10px);
  opacity: 0.7;
}

.content__down1 button {
  width: 100%;
  height: 50px;
  background-color: hsl(71, 73%, 54%);
  border-radius: 7px;
  color: #fff;
  border: none;
  font-weight: bold;
  align-self: center;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.content__down1 button:hover {
  background-color: hsl(71, 51%, 47%);
  cursor: pointer;
}

/*CONTENT DOWN 2*/
.content__down2 {
  background-color: #20dccf;
  padding: 20px;
}

.content__down2 h3 {
  color: hsl(210, 14%, 95%);
  margin-bottom: 13px;
}
.content__down2 p {
  color: hsl(204, 43%, 93%);
  font-size: 12px;
  margin-bottom: 5px;
  opacity: 0.8;
}

@media (min-width: 1024px) {
  .content {
    padding: 35px;
    grid-area: content;
  }
  .content__down1 {
    padding: 35px;
    grid-area: content__down1;
  }
  .content__down2 {
    padding: 35px;
    grid-area: content__down2;
  }

  .card {
    display: grid;
    max-width: 650px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "content content"
      "content__down1 content__down2";
  }
}
